.git
.gradle
build
logs
.env
.env.*
env.local.properties
**/env.properties
**/*firebase-adminsdk*.json
**/*firebase-admin*.json
**/*service-account*.json
**/*serviceAccount*.json
**/*.jks
**/*.keystore
**/*.p8
